annotated-types
anyio
asttokens
click
colorama
comm
debugpy
decorator
easyocr
environs
executing
fastapi
fastapi_cors
filelock
fsspec
h11
idna
imageio
imutils
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
lazy_loader
MarkupSafe
marshmallow
matplotlib-inline
mpmath
nest-asyncio
networkx
ninja
numpy
opencv-python
opencv-python-headless
packaging
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
pyclipper
pydantic
pydantic_core
Pygments
python-bidi
python-dateutil
python-dotenv
python-multipart
pywin32
PyYAML
pyzmq
scikit-image
scipy
shapely
six
sniffio
stack-data
starlette
sympy
tifffile
torch
torchvision
tornado
traitlets
typing_extensions
uvicorn
wcwidth
